Repository agglayer/aggkit, pull requests merged in 2025-04, with the labels that each got.

#336 fix: pull finalized `l1 info tree root` on `aggsender` like `aggoracle` does
  aggsender/flow_aggchain_prover.go
  aggsender/flow_aggchain_prover_test.go
  aggsender/flow_base.go
  aggsender/flow_pp.go
  aggsender/flow_pp_test.go
  aggsender/grpc/aggchain_proof_client.go
  aggsender/l1infotreequery/l1info_tree_data_query.go
  aggsender/l1infotreequery/l1info_tree_data_query_test.go
  aggsender/mocks/mock_l1_info_tree_data_querier.go
  aggsender/mocks/mock_l1_info_tree_syncer.go
  aggsender/types/types.go
  l1infotreesync/l1infotreesync.go
  test/combinations/fork12-pessimistic-multi-attach-second-cdk.yml
  test/combinations/fork12-pessimistic-multi.yml
  test/combinations/fork12-pessimistic.yml
  tree/tree.go
  tree/tree_test.go
Labels: aggsender

#344 feat: update `cdk-contracts-tooling` reference
  .mockery.yaml
  aggoracle/chaingerreader/evm.go
  aggoracle/chaingerreader/evm_test.go
  aggoracle/chaingersender/evm.go
  aggoracle/mocks/mock_l2_ger_manager_contract.go
  aggoracle/types/types.go
  bridgesync/bridgesync.go
  bridgesync/downloader.go
  claimsponsor/evmclaimsponsor.go
  etherman/contracts/base_test.go
  etherman/contracts/contracts_banana.go
  etherman/contracts/contracts_elderberry.go
  etherman/etherman.go
  etherman/types.go
  go.mod
  go.sum
  l1infotreesync/downloader.go
  l1infotreesync/downloader_test.go
  l1infotreesync/e2e_test.go
  lastgersync/evmdownloader.go
  test/helpers/e2e.go
  test/helpers/mock_ethtxmanager.go
  test/helpers/simulated.go
Labels: aggoracle, aggsender

#348 feat: use external signer library to support GCP KMS
  .mockery.yaml
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  go.mod
  go.sum
  signer/config.go
  signer/config_test.go
  signer/factory.go
  signer/factory_test.go
  signer/local_sign.go
  signer/local_sign_test.go
  signer/mocks/mock_signer.go
  signer/mocks/mock_web3_signer_clienter.go
  signer/signer.go
  signer/web3signer_client/client.go
  signer/web3signer_client/client_test.go
  signer/web3signer_sign.go
  signer/web3signer_sign_test.go
Labels: aggoracle, aggsender, cli & config

#353 chore: update Go version to 1.24
  .github/workflows/build-aggkit-image.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/test-e2e-multi-chains.yml
  .github/workflows/test-e2e-single-chain.yml
  .github/workflows/test-unit.yml
  Dockerfile
  go.mod
Labels: dependencies

#354 feat: update `aggsender` based on update to `GenerateAggchainProof` API on the `aggkit prover`
  aggsender/aggsender_initial_state.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/meddler.go
  aggsender/db/migrations/0002.sql
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/grpc/aggchain_proof_client.go
  aggsender/grpc/aggchain_proof_client_test.go
  aggsender/mocks/mock_aggchain_proof_generation.go
  aggsender/prover/proof_generation_rpc.go
  aggsender/prover/proof_generation_rpc_test.go
  aggsender/prover/proof_generation_tool.go
  aggsender/prover/proof_generation_tool_test.go
  aggsender/types/certificate_build_params.go
  aggsender/types/types.go
  aggsender/types/types_test.go
  db/meddler.go
  go.mod
  go.sum
Labels: aggsender

#358 fix: bump zkevm-ethtx-manager to v0.2.9 to fix panic bug (#356)
  go.mod
  go.sum
Labels: bug, aggoracle, aggsender, dependencies, cherry-pick

#355 feat: update `agglayer` API on `aggsender`
  agglayer/grpc/agglayer_grpc_client.go
  agglayer/grpc/agglayer_grpc_client_test.go
  agglayer/types/types.go
  agglayer/types/types_test.go
  aggsender/flows/flow_aggchain_prover.go
  go.mod
  go.sum
  test/combinations/fork12-pessimistic-multi.yml
  test/combinations/fork12-pessimistic.yml
Labels: aggsender

#361 feat: unpack `grpc` errors
  agglayer/grpc/agglayer_grpc_client.go
  aggsender/aggsender.go
  aggsender/grpc/aggchain_proof_client.go
  common/grpc_client.go
  common/grpc_client_test.go
  test/config/aggkit-node-config.toml.template
Labels: aggsender

#330 feat: index sovereign chain L2 bridge contracts events
  aggoracle/chaingersender/evm.go
  bridgesync/bridgecalldata_test.go
  bridgesync/bridgesync.go
  bridgesync/bridgesync_test.go
  bridgesync/downloader.go
  bridgesync/downloader_test.go
  bridgesync/migrations/bridgesync0003.sql
  bridgesync/migrations/migrations.go
  bridgesync/migrations/migrations_test.go
  bridgesync/processor.go
  bridgesync/processor_test.go
  claimsponsor/evmclaimsponsor.go
  etherman/contracts/base_test.go
  etherman/contracts/contracts_banana.go
  etherman/contracts/contracts_elderberry.go
  etherman/etherman.go
  etherman/types.go
  go.mod
  go.sum
  l1infotreesync/downloader.go
  l1infotreesync/downloader_test.go
  l1infotreesync/e2e_test.go
  lastgersync/evmdownloader.go
  rpc/bridge.go
  rpc/bridge_interfaces.go
  rpc/bridge_test.go
  rpc/mocks/mock_bridger.go
  test/bats/pp/bridge-e2e.bats
  test/helpers/e2e.go
  test/helpers/simulated.go
Labels: bridge

#373 feat: `op` start block config
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp_test.go
  aggsender/prover/proof_generation_tool.go
  aggsender/prover/proof_generation_tool_test.go
  config/default.go
Labels: aggsender

#377 feat: add block index to injected GERs we send to the prover
  agglayer/types/types.go
  aggoracle/chaingerreader/evm.go
  aggoracle/chaingerreader/evm_test.go
  aggoracle/mocks/mock_l2_ger_manager_contract.go
  aggoracle/types/types.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/grpc/aggchain_proof_client.go
  aggsender/mocks/mock_chain_ger_reader.go
  aggsender/types/types.go
  go.mod
  go.sum
Labels: aggsender

#378 feat: allow empty certificates for `FEP` (aggchain proof) flow
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_base_test.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
Labels: aggsender

#386 fix: resend proof in `AggchainProof` flow
  aggsender/aggsender.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/types/certificate_build_params.go
Labels: aggsender

#388 fix: new `LER` on empty certificate
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_base_test.go
  aggsender/flows/flow_pp_test.go
  tree/tree_test.go
  tree/updatabletree_test.go
Labels: aggsender

#390 feat: send finalized `l1_info_root` in cert
  agglayer/grpc/agglayer_grpc_client.go
  agglayer/grpc/agglayer_grpc_client_test.go
  agglayer/types/types.go
  agglayer/types/types_test.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp_test.go
  go.mod
  go.sum
  test/combinations/fork12-pessimistic-multi.yml
  test/combinations/fork12-pessimistic.yml
Labels: aggsender

#357 feat: sync L2 GER manager events
  bridgesync/processor.go
  cmd/run.go
  config/default.go
  l1infotreesync/downloader.go
  l1infotreesync/l1infotreesync.go
  lastgersync/config.go
  lastgersync/e2e_test.go
  lastgersync/evmdownloader.go
  lastgersync/evmdownloader_fep.go
  lastgersync/evmdownloader_pp.go
  lastgersync/lastgersync.go
  lastgersync/lastgersync_test.go
  lastgersync/processor.go
  lastgersync/processor_test.go
  rpc/bridge_interfaces.go
  rpc/mocks/mock_last_ge_rer.go
  sync/evmdownloader.go
  sync/evmdownloader_test.go
  sync/evmdriver.go
Labels: bridge

#394 feat: replace `l1_info_root` with `l1_info_tree_leaf_count`
  agglayer/grpc/agglayer_grpc_client.go
  agglayer/grpc/agglayer_grpc_client_test.go
  agglayer/types/types.go
  agglayer/types/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0002.sql
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/types/certificate_build_params.go
  aggsender/types/types.go
  go.mod
  go.sum
  test/combinations/fork12-pessimistic-multi.yml
  test/combinations/fork12-pessimistic.yml
Labels: aggsender

#397 fix: panic on resend `InError` cert
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
Labels: aggsender

#406 fix: aggoracle fails to estimate gas bumping zkevm-ethtx-manager to 0.2.10
  go.mod
  go.sum
Labels: bug, aggoracle

#391 feat: bridge service return consistent error codes
  bridgesync/bridgesync_test.go
  bridgesync/processor.go
  bridgesync/processor_test.go
  rpc/bridge.go
  rpc/bridge_interfaces.go
  rpc/bridge_test.go
  rpc/openrpc.json
Labels: bridge

#412 fix: optimize `Range` function on `CertificateBuildParams`
  aggsender/types/certificate_build_params.go
  common/common.go
  common/common_test.go
Labels: aggsender

#413 feat: enable `pprof`
  cmd/run.go
  config/config.go
  config/config_test.go
  config/default.go
  pprof/config.go
  pprof/pprof.go
  pprof/pprof_test.go
Labels: enhancement

#402 feat: filter bridges and claims by network ids
  bridgesync/bridgecalldata_test.go
  bridgesync/bridgesync.go
  bridgesync/bridgesync_test.go
  bridgesync/processor.go
  bridgesync/processor_test.go
  rpc/bridge.go
  rpc/bridge_interfaces.go
  rpc/bridge_test.go
  rpc/mocks/mock_bridger.go
  rpc/openrpc.json
Labels: bridge

#421 fix: `PP` to `FEP` upgrade `startBlock`
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp_test.go
Labels: aggsender

#427 feat: reuse `build-aggkit-image` for e2e tests
  .github/workflows/build-aggkit-image.yml
  .github/workflows/test-e2e-multi-chains.yml
  .github/workflows/test-e2e-single-chain.yml
  .github/workflows/test-e2e.yml
Labels: test

#424 feat: remove check end-epoch and fix kurtosis version
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/epoch_notifier_per_block.go
  aggsender/types/epoch_notifier.go
  aggsender/types/epoch_notifier_test.go
  config/default.go
  docs/aggsender.md
  etherman/rpcopnode.go
  scripts/local_config_aggchain_proof_gen
  test/bats/helpers/common-multi_cdk-setup.bash
  test/bats/helpers/common-setup.bash
  test/bats/helpers/common.bash
  test/config/aggkit-node-config.toml.template
Labels: aggsender, cli & config, test
