Repository agglayer/aggkit, pull requests merged in 2025-06, with the labels that each got.

#545 feat: save non-accepted certificates to `db`
  agglayer/types/types.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/db/aggsender_db_storage.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0003.sql
  aggsender/db/migrations/migrations_test.go
  aggsender/db/types.go
  aggsender/mocks/mock_agg_sender_storage.go
Labels: aggsender

#567 fix: non-accepted cert to key value table
  .mockery.yaml
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/db/aggsender_db_storage.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0003.sql
  aggsender/db/migrations/migrations_test.go
  aggsender/db/types.go
  aggsender/mocks/mock_agg_sender_storage.go
  bridgesync/processor.go
  db/compatibility/compatibility_db_contents.go
  db/compatibility/helper_storage.go
  db/compatibility/mocks/mock_compatibility_checker.go
  db/compatibility/mocks/mock_compatibility_data_storager.go
  db/interface.go
  db/key_value_storage.go
  db/mocks/mock_d_ber.go
  db/mocks/mock_key_value_storager.go
  db/mocks/mock_querier.go
  db/mocks/mock_sql_txer.go
  db/mocks/mock_txer.go
  db/sqlite.go
  db/sqlite_test.go
  db/tx.go
  db/types/interface.go
  l1infotreesync/processor.go
  l1infotreesync/processor_initl1inforootmap.go
  l1infotreesync/processor_verifybatches.go
  sync/mock_processor_interface.go
  tree/appendonlytree.go
  tree/tree.go
  tree/updatabletree.go
Labels: aggsender

#590 feat: add new health endpoint
  bridgeservice/bridge.go
  bridgeservice/bridge_test.go
  bridgeservice/docs/docs.go
  bridgeservice/docs/swagger.json
  bridgeservice/docs/swagger.yaml
  bridgeservice/types/types.go
  docs/assets/swagger/bridge_service/swagger.json
Labels: bridge

#617 fix: false warning log
  aggsender/block_notifier_polling.go
  aggsender/block_notifier_polling_test.go
  etherman/types.go
Labels: aggsender

#602 chore: remove claimsponsor
  bridgeservice/bridge.go
  bridgeservice/bridge_interfaces.go
  bridgeservice/bridge_test.go
  bridgeservice/docs/docs.go
  bridgeservice/docs/swagger.json
  bridgeservice/docs/swagger.yaml
  bridgeservice/mocks/mock_claim_sponsorer.go
  bridgeservice/types/types.go
  claimsponsor/claimsponsor.go
  claimsponsor/claimsponsor_test.go
  claimsponsor/config.go
  claimsponsor/e2e_test.go
  claimsponsor/evmclaimsponsor.go
  claimsponsor/migrations/claimsponsor0001.sql
  claimsponsor/migrations/migrations.go
  claimsponsor/migrations/migrations_test.go
  cmd/run.go
  common/components.go
  config/config.go
  config/default.go
  docs/SUMMARY.md
  docs/assets/swagger/bridge_service/swagger.json
  docs/claimsponsor.md
Labels: bridge

#619 fix: make bridge exit limitation configurable
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/flows/factory.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_optimistic_test.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_base_test.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/mocks/mock_aggsender_flow_baser.go
  aggsender/mocks/mock_bridge_querier.go
  aggsender/query/bridge_query.go
  aggsender/query/bridge_query_test.go
  aggsender/types/interfaces.go
  config/default.go
  docs/aggsender.md
Labels: aggsender, audit

#615 feat: use start LER from contract
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/flows/factory.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_base_test.go
  aggsender/flows/flow_pp_test.go
  aggsender/mocks/mock_ler_querier.go
  aggsender/mocks/mock_rollup_manager_contract.go
  aggsender/optimistic/optimistic_mode_query.go
  aggsender/prover/proof_generation_tool.go
  aggsender/query/ler_query.go
  aggsender/query/ler_query_test.go
  aggsender/types/interfaces.go
  config/default.go
Labels: aggsender

#632 chore: update docs
  docs/aggsender.md
  docs/common_config.md
Labels: documentation

#660 fix: migration 0.2 to 0.3 issue
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0002.sql
  db/meddler.go
  db/meddler_test.go
  go.mod
  go.sum
Labels: aggsender

#670 feat: cherry-pick - migration 0.2 to 0.3 issue (#661)
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0004.sql
  aggsender/db/migrations/migrations.go
  db/meddler.go
  db/meddler_test.go
  go.mod
  go.sum
Labels: aggsender, cherry-pick

#666 feat: cherry-pick: add MaxL2BlockNumber config param (#648)
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/flows/factory.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_optimistic_test.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/flows/max_l2blocknumber_limiter.go
  aggsender/flows/max_l2blocknumber_limiter_test.go
  aggsender/types/certificate_build_params.go
  aggsender/types/certificate_build_params_test.go
  aggsender/types/interfaces.go
  config/default.go
  docs/SUMMARY.md
  docs/aggsender.md
Labels: cherry-pick
