Repository agglayer/aggkit, pull requests merged in 2025-02, with the labels that each got.

#177 fix: syncer spamming RPC and reaching tip of chain (cherry-pick from CDK)
  README.md
  sync/evmdownloader.go
  sync/evmdownloader_test.go
Labels: bug, aggsender, cli & config, sync

#173 feat: new aggchain prover logic on `aggsender`
  agglayer/mock_agglayer_client.go
  agglayer/types.go
  agglayer/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/db/migrations/0002.sql
  aggsender/db/migrations/migrations.go
  aggsender/flow_aggchain_prover.go
  aggsender/flow_aggchain_prover_test.go
  aggsender/flow_pp.go
  aggsender/flow_pp_test.go
  aggsender/mocks/mock_aggsender_flow.go
  aggsender/types/certificate_build_params.go
  aggsender/types/types.go
  config/default.go
Labels: aggsender

#172 feat: resend failed certificate
  agglayer/types.go
  agglayer/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/block_notifier_polling.go
  aggsender/block_notifier_polling_test.go
  aggsender/config.go
  aggsender/epoch_notifier_per_block.go
  aggsender/epoch_notifier_per_block_test.go
  aggsender/mocks/mock_block_notifier.go
  aggsender/mocks/mock_epoch_notifier.go
  aggsender/types/block_notifier.go
  aggsender/types/epoch_notifier.go
  common/rate_limit.go
  common/rate_limit_test.go
  config/config_test.go
  config/default.go
  sync/mock_evm_downloader_full.go
  test/bats/helpers/lxly-bridge.bash
  test/config/kurtosis-cdk-node-config.toml.template
Labels: aggsender, cli & config

#183 feat: send `l1infotree` data to the `aggchain prover`
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/flow_aggchain_prover.go
  aggsender/flow_aggchain_prover_test.go
  aggsender/flow_pp.go
  aggsender/grpc/aggchain_proof_client.go
  aggsender/grpc/aggchain_proof_client_test.go
  aggsender/mocks/mock_aggchain_proof_client_interface.go
  aggsender/mocks/mock_l1_info_tree_syncer.go
  aggsender/proto/aggchain_proof_generation.proto
  aggsender/types/aggchain_proof_generation.pb.go
  aggsender/types/types.go
  bridgesync/bridgesync.go
  bridgesync/migrations/bridgesync0002.sql
  bridgesync/migrations/migrations.go
  bridgesync/migrations/migrations_test.go
  bridgesync/processor.go
  bridgesync/processor_test.go
  cmd/run.go
  l1infotreesync/l1infotreesync.go
  l1infotreesync/processor.go
  l1infotreesync/processor_test.go
  lastgersync/migrations/lastgersync0002.sql
  lastgersync/migrations/migrations.go
  lastgersync/processor.go
  sync/evmdownloader_test.go
  tree/tree.go
  tree/tree_test.go
Labels: aggsender

#180 feat: allows reorg detectors configure the what kind of block is a finalized block
  aggsender/block_notifier_polling_test.go
  bridgesync/bridgesync.go
  bridgesync/bridgesync_test.go
  bridgesync/e2e_test.go
  bridgesync/mocks/mock_reorg_detector.go
  cmd/run.go
  config/config_test.go
  config/default.go
  etherman/types.go
  etherman/types_test.go
  l1infotreesync/mocks/mock_reorg_detector.go
  reorgdetector/config.go
  reorgdetector/reorgdetector.go
  reorgdetector/reorgdetector_test.go
  sync/evmdownloader.go
  sync/evmdriver.go
  sync/mock_reorg_detector.go
  test/helpers/e2e.go
Labels: aggsender, cli & config, sync

#187 feat: Prevent missconfiguration of bridgeAddress in bridgesyncer
  bridgesync/bridgesync.go
  bridgesync/bridgesync_test.go
  config/config.go
  config/config_test.go
Labels: enhancement, aggsender, sync

#189 feat: small improvements on the `aggsender`
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/flow_aggchain_prover.go
  aggsender/flow_aggchain_prover_test.go
  aggsender/types/types.go
  config/default.go
  docs/aggsender.md
  test/config/kurtosis-cdk-node-config.toml.template
Labels: aggsender

#191 feat: `bridge_getTokenMappings` endpoint
  agglayer.log
  bridgesync/bridgesync.go
  bridgesync/bridgesync_test.go
  bridgesync/downloader.go
  bridgesync/downloader_test.go
  bridgesync/migrations/bridgesync0001.sql
  bridgesync/migrations/bridgesync0001_test.go
  bridgesync/migrations/bridgesync0002.sql
  bridgesync/migrations/migrations.go
  bridgesync/migrations/migrations_test.go
  bridgesync/processor.go
  bridgesync/processor_test.go
  cmd/run.go
  common/common.go
  common/common_test.go
  go.mod
  go.sum
  l1infotreesync/processor.go
  node.log
  rpc/bridge.go
  rpc/bridge_interfaces.go
  rpc/bridge_test.go
  rpc/mocks/mock_bridger.go
  rpc/openrpc.json
  rpc/utils.go
  test/bats/helpers/common.bash
  test/bats/helpers/lxly-bridge.bash
  test/bats/pp/bridge-e2e.bats
  test/run-e2e.sh
Labels: bridge

#201 feat: prometheus
  aggsender/aggsender.go
  aggsender/metrics/metrics.go
  cmd/run.go
  config/config.go
  config/default.go
  docs/aggsender.md
  go.mod
  prometheus/api.go
  prometheus/config.go
  prometheus/prometheus.go
  prometheus/prometheus_test.go
  test/run-e2e-multi_pp.sh
Labels: aggsender

#244 fix: `bridge_getClaims` endpoint results
  bridgesync/processor.go
  bridgesync/processor_test.go
Labels: bridge

#202 feat: add support for external signer
  .mockery.yaml
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  go.mod
  go.sum
  reorgdetector/reorgdetector_test.go
  signer/config.go
  signer/config_test.go
  signer/factory.go
  signer/factory_test.go
  signer/local_sign.go
  signer/local_sign_test.go
  signer/mocks/mock_signer.go
  signer/mocks/mock_web3_signer_clienter.go
  signer/signer.go
  signer/web3signer_client/client.go
  signer/web3signer_client/client_test.go
  signer/web3signer_sign.go
  signer/web3signer_sign_test.go
  test/combinations/fork12-pessimistic-multi-attach-second-cdk.yml
  test/combinations/fork12-pessimistic-multi.yml
  test/combinations/fork12-pessimistic.yml
Labels: aggsender, cli & config

#233 fix: fix downloader latest block
  sync/evmdownloader.go
  sync/evmdownloader_test.go
Labels: sync
