Repository agglayer/aggkit, pull requests merged in 2025-05, with the labels that each got.

#441 fix: error reading config for KMS
  go.mod
  go.sum
Labels: bug, aggoracle, aggsender

#439 fix: avoid infinete recursion and set e2e to use l2client in op mode
  etherman/rpcopnode.go
  test/config/aggkit-node-config.toml.template
Labels: bug, aggsender

#429 fix: claimsponsor
  claimsponsor/claimsponsor.go
  claimsponsor/claimsponsor_test.go
  claimsponsor/config.go
  claimsponsor/evmclaimsponsor.go
  claimsponsor/migrations/migrations_test.go
  config/default.go
  docs/SUMMARY.md
  docs/claimsponsor.md
  docs/etherman.md
  docs/ethtxmanager.md
Labels: bridge

#447 fix: cherry-pick #439 avoid infinete recursion and set e2e to use l2client in op mode
  etherman/rpcopnode.go
  test/config/aggkit-node-config.toml.template
Labels: bug, cherry-pick

#444 fix: cherry-pick error reading config for KMS (#441) to release/0.3.x
  go.mod
  go.sum
Labels: cherry-pick

#442 fix: cherry-pick error reading config for KMS (#441) to develop
  go.mod
  go.sum
Labels: cherry-pick

#440 feat: add sanity check for initial L2 block on FEP
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/mocks/mock_aggsender_flow.go
  aggsender/mocks/mock_logger.go
  aggsender/types/types.go
  common/logger.go
  log/log.go
Labels: enhancement, aggsender

#446 fix: cherry-pick #439 avoid infinete recursion and set e2e to use l2client in op mode
  etherman/rpcopnode.go
Labels: bug, cherry-pick

#449 feat: cherry-pick from release/0.3. Add sanity check for initial L2 block on FEP (#440)
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/mocks/mock_aggsender_flow.go
  aggsender/mocks/mock_logger.go
  aggsender/types/types.go
  common/logger.go
  log/log.go
Labels: aggsender, cherry-pick

#396 feat: code quality improvement by introducing `bridgeQuerier` and `gerQuerier` on `aggsender`
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/flows/factory.go
  aggsender/flows/factory_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_base_test.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/mocks/mock_bridge_querier.go
  aggsender/mocks/mock_ger_querier.go
  aggsender/mocks/mock_signer.go
  aggsender/prover/proof_generation_tool.go
  aggsender/query/bridge_query.go
  aggsender/query/bridge_query_test.go
  aggsender/query/ger_query.go
  aggsender/query/ger_query_test.go
  aggsender/query/l1info_tree_data_query.go
  aggsender/query/l1info_tree_data_query_test.go
  aggsender/types/interfaces.go
  aggsender/types/types.go
  cmd/run.go
  config/config.go
Labels: aggsender, code-quality-improvement

#411 feat: certificate status checker
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/mocks/mock_certificate_status_checker.go
  aggsender/statuschecker/cert_status_checker.go
  aggsender/statuschecker/cert_status_checker_test.go
  aggsender/statuschecker/initial_state.go
  aggsender/statuschecker/initial_state_test.go
  aggsender/types/interfaces.go
  aggsender/types/types.go
Labels: aggsender, code-quality-improvement

#457 feat: remove `BridgeMetadataAsHash` config parameter
  agglayer/types/types.go
  agglayer/types/types_test.go
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/flows/factory.go
  aggsender/flows/factory_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/grpc/aggchain_proof_client_test.go
  aggsender/prover/proof_generation_tool.go
  config/config.go
  config/config_test.go
  config/default.go
  docs/aggsender.md
Labels: aggsender

#448 feat: refactor bridge service to REST API
  .github/workflows/test-e2e.yml
  .mockery.yaml
  bridgeservice/bridge.go
  bridgeservice/bridge_interfaces.go
  bridgeservice/bridge_test.go
  bridgeservice/mocks/mock_bridger.go
  bridgeservice/mocks/mock_claim_sponsorer.go
  bridgeservice/mocks/mock_l1_info_treer.go
  bridgeservice/mocks/mock_last_ge_rer.go
  bridgeservice/types/types.go
  bridgeservice/utils.go
  bridgesync/bridgesync_test.go
  bridgesync/e2e_test.go
  bridgesync/processor.go
  bridgesync/processor_test.go
  build/docker-compose.yml
  cmd/run.go
  common/config.go
  config/config.go
  config/default.go
  go.mod
  go.sum
  rpc/bridge.go
  rpc/bridge_test.go
  rpc/client/bridge.go
  rpc/client/client.go
  rpc/mocks/mock_bridge_client_interface.go
  rpc/mocks/mock_client_factory_interface.go
  rpc/mocks/mock_client_interface.go
  rpc/openrpc.json
  rpc/types/bridge.go
  rpc/types/rpcbatch.go
  rpc/utils.go
Labels: bridge

#476 fix: legacy token migration endpoint
  bridgesync/processor.go
Labels: bridge

#459 test: introduce custom erc20 bridge tests
  .github/workflows/test-e2e.yml
  test/run-local-e2e.sh
Labels: bridge

#486 fix: some code still heck block range gaps PP to FEP without using the new flag RequireNoFEPBlockGap
  aggsender/flows/flow_aggchain_prover.go
Labels: aggsender

#450 fix: Claimsponsor
  .github/workflows/test-e2e.yml
  claimsponsor/claimsponsor.go
  claimsponsor/claimsponsor_test.go
  claimsponsor/e2e_test.go
  claimsponsor/evmclaimsponsor.go
Labels: bridge

#505 chore: update test ref
  .github/test_e2e_multi_chains_args_1.json
  .github/test_e2e_multi_chains_args_2.json
  .github/test_e2e_single_chain_fork12_op_succinct_args.json
  .github/test_e2e_single_chain_fork12_pessimistic_args.json
  .github/workflows/test-e2e.yml
Labels: bridge

#454 fix: optimize check for pending certificates
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/db/aggsender_db_storage.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/helpers.go
  aggsender/db/helpers_test.go
  aggsender/db/types.go
  aggsender/db/types_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp_test.go
  aggsender/mocks/mock_agg_sender_storage.go
  aggsender/mocks/mock_aggsender_storer.go
  aggsender/rpc/aggsender_rpc.go
  aggsender/rpc/aggsender_rpc_test.go
  aggsender/rpcclient/client.go
  aggsender/rpcclient/client_test.go
  aggsender/statuschecker/cert_status_checker.go
  aggsender/statuschecker/cert_status_checker_test.go
  aggsender/statuschecker/initial_state.go
  aggsender/statuschecker/initial_state_test.go
  aggsender/types/certificate_build_params.go
  aggsender/types/types.go
  aggsender/types/types_test.go
  tools/aggsender_find_imported_bridge/aggsender_find_imported_bridge.go
Labels: aggsender

#527 feat: cherry picks #483, 486, 489 - block gap sanity checks
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/flows/factory.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/prover/proof_generation_tool.go
  aggsender/prover/proof_generation_tool_test.go
  config/config_test.go
  config/default.go
Labels: aggsender, cherry-pick

#528 feat: store in DB the type of certificate (PP/FEP)
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/helpers.go
  aggsender/db/migrations/0003.sql
  aggsender/db/migrations/migrations.go
  aggsender/db/types.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_base.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/statuschecker/cert_status_checker.go
  aggsender/statuschecker/cert_status_checker_test.go
  aggsender/types/certificate_build_params.go
  aggsender/types/certificate_metadata.go
  aggsender/types/certificate_metadata_test.go
  aggsender/types/types.go
  aggsender/types/types_test.go
Labels: aggsender
