Repository agglayer/aggkit, pull requests merged in 2025-09, with the labels that each got.

#913 feat: utilize network status `api` from `agglayer`
  agglayer/agglayer_client_cache.go
  agglayer/client.go
  agglayer/grpc/agglayer_grpc_client.go
  agglayer/grpc/agglayer_grpc_client_test.go
  agglayer/mocks/mock_agglayer_client.go
  agglayer/mocks/mock_node_state_service_client.go
  agglayer/types/types.go
  aggsender/query/certificate_query.go
  aggsender/query/certificate_query_test.go
  go.mod
  go.sum
Labels: aggsender, aggsender-proposer, aggsender-validator

#945 feat: sanity check if `proposer` and `validator` are committee members
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/flows/factory.go
  aggsender/flows/factory_test.go
  aggsender/types/multisig_committee.go
  aggsender/types/multisig_committee_test.go
  aggsender/validator/config.go
  cmd/run.go
  config/default.go
Labels: aggsender-proposer, aggsender-validator

#951 feat: modify poll validator committee
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_pp.go
  aggsender/mocks/mock_aggsender_flow.go
  aggsender/mocks/mock_validator_poller.go
  aggsender/types/interfaces.go
  aggsender/types/multisig_committee.go
  aggsender/validator_poller.go
  aggsender/validator_poller_test.go
Labels: aggsender-proposer

#957 feat: remove old signing of certificates
  agglayer/types/types.go
  agglayer/types/types_test.go
  aggsender/aggsender_test.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/flows/flow_pp.go
  aggsender/flows/flow_pp_test.go
  aggsender/mocks/mock_aggsender_flow.go
  aggsender/types/interfaces.go
  aggsender/validator/validate_certificate.go
  aggsender/validator/validate_certificate_test.go
Labels: aggsender, aggsender-proposer, aggsender-validator

#977 fix: cherrypick fix 🐞 bug 973, sanity check PP to FEP (#975)
  aggsender/flows/flow_base.go
  aggsender/flows/flow_base_test.go
  aggsender/types/block_range.go
  aggsender/types/block_range_test.go
Labels: bug, aggsender, cherry-pick

#984 fix: aggsender proposer override multisig committee URL
  aggsender/config/config.go
  aggsender/query/multisig_committee_query.go
  aggsender/query/multisig_committee_query_test.go
  aggsender/types/multisig_committee.go
  aggsender/types/multisig_committee_test.go
  cmd/run.go
  config/default.go
  scripts/local_config_helper
  scripts/local_config_pp
  test/config/pp-config.toml.template
Labels: cli & config, aggsender-proposer

#1017 feat: autoconfigure aggsender mode #948
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config/config.go
  aggsender/config/config_test.go
  aggsender/flows/factory.go
  aggsender/flows/factory_test.go
  aggsender/mocks/mock_multisig_contract.go
  aggsender/mocks/mock_multisig_querier.go
  aggsender/query/multisig_committee_query.go
  aggsender/query/multisig_committee_query_test.go
  aggsender/types/interfaces.go
  aggsender/types/types.go
  aggsender/types/types_test.go
  aggsender/validator/config.go
  aggsender/validator/config_test.go
  cmd/run.go
  config.toml.example
  config/config_test.go
  config/default.go
  l2gersync/evm_downloader_sovereign.go
  test/config/fep-config.toml.template
  test/config/pp-config.toml.template
Labels: cli & config, aggsender-proposer, aggsender-validator
