Repository agglayer/aggkit, pull requests merged in 2025-03, with the labels that each got.

#223 docs: bridge service
  docs/SUMMARY.md
  docs/bridge_service.md
  rpc/bridge.go
  test/bats/pp/bridge-e2e-msg.bats
  test/bats/pp/bridge-e2e.bats
  test/bats/pp/e2e-pp.bats
Labels: documentation

#255 feat: `aggsender` docs update
  aggsender/config.go
  docs/aggsender.md
Labels: documentation, aggsender

#271 docs: bridge APIs
  docs/bridge_service.md
  rpc/types/bridge.go
Labels: bridge

#274 docs: expand bridge service documentation to include indexer components
  docs/bridge_service.md
Labels: documentation

#275 docs: bridging sequence diagram
  docs/bridge_service.md
Labels: bridge

#306 fix: wait for transaction receipt in a loop in claim calldata test
  bridgesync/bridgecalldata_test.go
  bridgesync/claimcalldata_test.go
  bridgesync/helpers_test.go
Labels: test

#315 feat: add block num
  agglayer/types.go
  aggsender/flow_aggchain_prover.go
  aggsender/flow_aggchain_prover_test.go
  aggsender/grpc/aggchain_proof_client.go
  aggsender/grpc/aggchain_proof_client_test.go
  aggsender/mocks/mock_aggchain_proof_client_interface.go
  go.mod
  go.sum
Labels: aggsender

#316 fix: Reorgdetector
  reorgdetector/reorgdetector_db.go
  reorgdetector/reorgdetector_test.go
Labels: bug

#254 feat: check runtime vs database db
  .mockery.yaml
  aggsender/aggsender.go
  aggsender/aggsender_initial_state.go
  aggsender/aggsender_test.go
  aggsender/block_notifier_polling.go
  aggsender/config.go
  aggsender/db/aggsender_db_storage.go
  aggsender/epoch_notifier_per_block.go
  aggsender/types/types.go
  bridgesync/bridgesync.go
  bridgesync/bridgesync_test.go
  bridgesync/config.go
  bridgesync/downloader.go
  bridgesync/mocks/mock_eth_clienter.go
  bridgesync/processor.go
  bridgesync/processor_test.go
  cmd/run.go
  common/logger.go
  config/config_test.go
  config/default.go
  db/compatibility/compatibility_db_contents.go
  db/compatibility/compatibility_db_contents_test.go
  db/compatibility/helper_storage.go
  db/compatibility/mocks/mock_compatibility_checker.go
  db/compatibility/mocks/mock_compatibility_data_storager.go
  db/compatibility/mocks/mock_key_value_storager.go
  db/compatibility/types/comparer.go
  db/migrations.go
  db/migrations/basedb0001.sql
  db/migrations/migrations.go
  db/sqlite.go
  db/sqlite_test.go
  etherman/mocks/mock_eth_clienter.go
  etherman/mocks/mock_eth_real_client.go
  etherman/rpcfactory.go
  l1infotreesync/config.go
  l1infotreesync/downloader.go
  l1infotreesync/e2e_test.go
  l1infotreesync/l1infotreesync.go
  l1infotreesync/mocks/mock_eth_clienter.go
  l1infotreesync/processor.go
  lastgersync/config.go
  lastgersync/e2e_test.go
  lastgersync/evmdownloader.go
  lastgersync/lastgersync.go
  lastgersync/processor.go
  reorgdetector/config.go
  signer/factory.go
  signer/local_sign.go
  signer/web3signer_sign.go
  sync/common.go
  sync/evmdownloader.go
  sync/evmdriver.go
  sync/evmdriver_test.go
  sync/mock_eth_clienter.go
  sync/mock_evm_downloader_full.go
  sync/mock_processor_interface.go
  test/helpers/e2e.go
Labels: aggoracle, aggsender, cli & config, sync

#317 docs: enumerate e2e tests
  docs/SUMMARY.md
  docs/e2e_tests.md
Labels: documentation, test

#320 feat: `bridge_getLastReorgEvent` endpoint
  bridgesync/bridgesync.go
  bridgesync/bridgesync_test.go
  bridgesync/mocks/mock_reorg_detector.go
  docs/bridge_service.md
  reorgdetector/reorgdetector_db.go
  reorgdetector/reorgdetector_db_test.go
  rpc/bridge.go
  rpc/bridge_interfaces.go
  rpc/bridge_test.go
  rpc/mocks/mock_bridger.go
  rpc/openrpc.json
Labels: bridge

#297 test: replace with new bridge flow
  .github/workflows/test-e2e-multi-chains.yml
  .github/workflows/test-e2e-single-chain.yml
  config/default.go
  l1infotreesync/l1infotreesync.go
  l1infotreesync/processor_test.go
  rpc/bridge.go
  rpc/bridge_test.go
  scripts/local_config
  test/bats/helpers/aggsender.bash
  test/bats/helpers/common-multi_cdk-setup.bash
  test/bats/helpers/lxly-bridge.bash
  test/bats/pp-multi/bridge-l2_to_l2-e2e.bats
  test/bats/pp/bridge-e2e-msg.bats
  test/bats/pp/bridge-e2e.bats
  test/combinations/fork12-pessimistic-multi.yml
  test/combinations/fork12-pessimistic.yml
  test/config/kurtosis-cdk-node-config.toml.template
Labels: bridge

#322 fix: injected GER with block number
  aggoracle/chaingerreader/evm.go
  aggoracle/chaingerreader/evm_test.go
  aggsender/flow_aggchain_prover.go
  aggsender/flow_aggchain_prover_test.go
  aggsender/mocks/mock_chain_ger_reader.go
  aggsender/types/types.go
Labels: aggsender
