Repository agglayer/aggkit, pull requests merged in 2025-07, with the labels that each got.

#678 feat: migration test
  aggsender/db/migrations/0002_test.go
  aggsender/db/migrations/0003_test.go
  aggsender/db/migrations/0004_test.go
  aggsender/db/migrations/migrations.go
  aggsender/db/migrations/testdata/aggsender-001.sqlite
  db/migrations.go
  db/migrations/testutils/migrations_helper.go
Labels: test, code-quality-improvement

#711 feat: add `aggsender-verifier` `gRPC` service
  Makefile
  aggsender/validator/proto/v1/validator.pb.go
  aggsender/validator/proto/v1/validator.proto
  aggsender/validator/proto/v1/validator_grpc.pb.go
  aggsender/validator/validator_service.go
  aggsender/validator/validator_service_test.go
  buf.gen.yaml
  buf.lock
  buf.yaml
  grpc/client.go
  grpc/server.go
  grpc/server_test.go
Labels: aggsender

#753 feat: save settled cert on startup from scratch
  aggsender/db/aggsender_db_storage.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/mocks/mock_agg_sender_storage.go
  aggsender/statuschecker/cert_status_checker.go
  aggsender/statuschecker/cert_status_checker_test.go
  aggsender/statuschecker/initial_state.go
  aggsender/statuschecker/initial_state_test.go
  aggsender/types/certificate_metadata.go
Labels: aggsender

#741 feat: integrate `aggoracle` committee
  aggoracle/chaingersender/evm.go
  aggoracle/chaingersender/evm_test.go
  aggoracle/config.go
  aggoracle/e2e_test.go
  aggoracle/mocks/mock_agg_oracle_committee_contract.go
  aggoracle/oracle.go
  aggoracle/types/types.go
  bridgesync/bridgecalldata_test.go
  bridgesync/docker-compose.yml
  cmd/run.go
  common/common.go
  config/default.go
  go.mod
  go.sum
  test/contracts/proxy/proxy.go
  test/contracts/transparentupgradableproxy/transparentupgradableproxy.go
  test/helpers/e2e.go
  test/helpers/simulated.go
Labels: aggoracle

#775 fix: agglayer client cache issues
  agglayer/agglayer_client_cache.go
  agglayer/agglayer_client_cache_test.go
  config/default.go
Labels: aggsender

#774 feat: move aggchain proof querying logic to a new interface
  aggsender/flows/factory.go
  aggsender/flows/flow_aggchain_prover.go
  aggsender/flows/flow_aggchain_prover_optimistic_test.go
  aggsender/flows/flow_aggchain_prover_test.go
  aggsender/mocks/mock_aggchain_proof_querier.go
  aggsender/mocks/mock_local_exit_root_query.go
  aggsender/prover/proof_generation_tool.go
  aggsender/query/aggchain_proof_query.go
  aggsender/query/aggchain_proof_query_test.go
  aggsender/types/interfaces.go
Labels: aggsender, code-quality-improvement
